.table {
  margin: 40px auto;
  font-size: 15px;
  width: 700px;
  border: 1px solid#ddd;
}
.table thead th {
  color: black;
  text-align: center;
  font-weight: bold;
  height: 20px;
  border: 1px solid#ddd;
  padding: 10px 0;
}
.table td {
  padding: 12px 15px;
  border: 1px solid#ddd;
  text-align: center;
}
.table tbody tr {
  border: 1px solid#ddd;
}
.table tbody tr:last-of-type {
  border: 1px solid#ddd;
}

.table input {
  background-color: rgb(245, 246, 247);
  width: 80%;
  padding: 8px;
}
.table h3 {
  font-size: 14px;
}
.table input[type='submit'] {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(204, 191, 250);
  max-width: 400px;
}
.table input[type='submit']:hover {
  background-color: rgb(147, 127, 212);
  transition: all 0.3s;
}
